<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0&ls=true">
    <title> <%= mytitle %> </title>
</head>
<body>
    <h1>what your name ?</h1>

    <form name="userName" action="/post" method="post">
    <input type="text" name="name" placeholder="Enter your name">
    <button>Submit</button>
    </form>

    <h2>hello</h2>

</body>
</html>